{% include "open_table.py.j2" %}

query = table.search()
{% if where %}query = query.where({{ where | pyrepr }})
{% endif %}{% if columns %}query = query.select({{ columns | pyrepr }})
{% endif %}rows = query.limit({{ limit }}).to_pandas()
